@page "/"
@inject MongoDBService MongoDBService

    <div class="moviecard-container">

        @foreach (var movie in movies)
        {
            <div class="col-md-1">
                <MovieCard Movie="@movie" />
            </div>
        }

    </div>



@code
{
    IEnumerable<Movie> movies;

    protected override async Task OnInitializedAsync()
    {
        movies = MongoDBService.GetAllMovies();
    }
}