@page "/"
@inject MongoDBService MongoDBService

<PageTitle>Home</PageTitle>

@foreach(var movie in movies)
{
    <p>
        @movie.Title
    </p>
    <MovieCard
    Movie=@movie />
}


@code 
{
    IEnumerable<Movie> movies;

    protected override async Task OnInitializedAsync()
    {
        movies = MongoDBService.GetAllMovies();
    }
}