@page "/"
@inject MongoDBService MongoDBService
@rendermode InteractiveServer

<header class="top-bar">
    <div class="top-row">
        <a href="/">See Sharp Movies</a>
        <div class="form-inline search-bar">
            <input class="form-control mr-sm-2"
                   type="search" placeholder="Search" 
                   aria-label="Search" 
                   @oninput="OnSearchInput" @bind="searchTerm">
            <button class="btn btn-outline-success my-2 my-sm-0" @onclick="SearchMovies">Search</button>
        </div>
    </div>
</header>

<div class="moviecard-container">
    @foreach (var movie in movies)
    {
        <div class="moviecard">
            <MovieCard Movie="@movie" />
        </div>
    }
</div>

<div class="pagination-controls">
    <button disabled="@isPreviousDisabled" @onclick="GoToPreviousPage"> Previous</button>
    <span>Page @currentPage</span>
    <button @onclick="GoToNextPage" disabled="@isNextDisabled">Next</button>  
</div>

@code {
   
    bool isPreviousDisabled;
    bool isNextDisabled;
    int currentPage = 1;
    int pageSize = 25; 

    string searchTerm;
    Timer debounceTimer;
    int _debounceInterval = 500;
   
    IEnumerable<Movie> movies;

    private void GoToPreviousPage()
    {
       
        if (currentPage > 1)
        {
            currentPage--;           
            movies = MongoDBService.GetMoviesPerPage(currentPage, pageSize);
        }
    }

    private void GoToNextPage()
    {
      
        currentPage++;
        movies = MongoDBService.GetMoviesPerPage(currentPage, pageSize);
    }

    private void SearchMovies()
    {
        if (string.IsNullOrWhiteSpace(searchTerm))
        {
            movies = MongoDBService.GetAllMovies();
        }
        else
        {
            movies = MongoDBService.MovieSearchByText(searchTerm);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        movies = MongoDBService.GetMoviesPerPage(currentPage, pageSize);        
    }

    void DebounceSearch(object state)
    {
        if (string.IsNullOrWhiteSpace(searchTerm))
        {
            SearchMovies();
        }
        else
        {
            InvokeAsync(() =>
            {
                SearchMovies();
                StateHasChanged();
            });
        }
    }
    
    void OnSearchInput(ChangeEventArgs e)
    {
            searchTerm = e.Value.ToString();
            debounceTimer?.Dispose();
            debounceTimer = new Timer(DebounceSearch, null, _debounceInterval, Timeout.Infinite);
    }
}